<!DOCTYPE html>


<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pogo-slider.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.pogo-slider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='slider-index.js') }}"></script>
    <script src="{{ url_for('static', filename='smoothscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='form-validator.min.js') }}"></script>
    <script src="{{ url_for('static', filename='contact-form-script.js') }}"></script>
    <script src="{{ url_for('static', filename='isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='images-loded.min.js') }}"></script>
      <script src="{{ url_for('static', filename='custom.js') }}"></script>

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="{{ url_for('static', filename='loader.gif') }}" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename='foot1.png') }}" alt="image"></a><font color="blue"><b><big><big>PERSONAL DEVICES ANALYSING SYSTEM</big></big></b></font>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="/">Home</a></li>
                        <li><a class="nav-link" href="/about">About</a></li>
                        <li><a class="nav-link" href="/services">Services</a></li>
                        <li><a class="nav-link" href="/signup2">Signup</a></li>
                        <li><a class="nav-link" href="/login">Login</a></li>
                        <li><a class="nav-link" href="/contact">Contactus</a></li>
                    </ul>
                </div>
                <div class="search-box">
                    
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="{{ url_for('static', filename='search_icon.png') }}" alt="#" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <!-- End Banner -->
    <!-- section -->
    <!-- end section -->
    <!-- section -->
    <br>
    <br>
    <br>
     <section class="inner_banner">
      <div class="container">
          <div class="row">
              <div class="col-12">
                 <div class="full">
                     <h3>Our Services</h3>
                 </div>
              </div>
          </div>
      </div>
    </section>

    <div class="section margin-top_50 silver_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full float-right_img">
                        <img src="{{ url_for('static', filename='img6.png') }}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
                           <h2><span>Laptop</h2>
                        </div>
                        <div class="full">
                          <p>A laptop computer is a personal computer for mobile use. A laptop has most of the same components as a desktop computer, including a display, a keyboard, a pointing device such as a touchpad (also known as a trackpad) and/or a pointing stick, and speakers into a single unit. A laptop is powered by mains electricity via an AC adapter, and can be used away from an outlet using a rechargeable battery. Laptops are also sometimes called notebook computers, notebooks or netbooks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <div class="heading_main text_align_left">
                           <h2><span>Smartphone</span></h2>
                        </div>
                        <div class="full">
                          <p>A mobile phone, cellular phone, cell phone, cellphone, handphone, or hand phone, sometimes shortened to simply mobile, cell or just phone, is a portable telephone that can make and receive calls over a radio frequency link while the user is moving within a telephone service area.  It works by communicating with a nearby base station (also called a "cell site") which connects it to the main phone network</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full">
                        <img class="img-responsive" src="{{ url_for('static', filename='mobile.jpg') }}" height="300" width="300"alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
       <div class="section margin-top_50 silver_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full float-right_img">
                        <img src="{{ url_for('static', filename='img6.png') }}" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
                           <h2><span>Tablet</h2>
                        </div>
                        <div class="full">
                          <p>A tablet computer, commonly shortened to tablet, is a mobile device, typically with a mobile operating system and touchscreen display processing circuitry, and a rechargeable battery in a single, thin and flat package. Modern tablets largely resemble modern smartphones, the only differences being that tablets are relatively larger than smartphones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <div class="heading_main text_align_left">
                           <h2><span>Camera</span></h2>
                        </div>
                        <div class="full">
                          <p>A camera is a device that takes pictures (photographs). A camera is an optical instrument used to record images. It uses film or electronics to make a picture of something. It is a tool of photography. A lens makes the image that the film or electronics. All cameras are basically a box that light can not get into until a photo is taken.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full">
                        <img class="img-responsive" src="{{ url_for('static', filename='camera.png') }}" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">©2020 Personal Devices Analyzing System. All Copyrights Reserved.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>